.calendar {
    padding: 10px;
    flex: 1 1 100%;
}
.calendar-navbar {
    display: flex;
    justify-content: left;
}

.day {
    flex: 1 1 auto;
    padding: 5px;
}

#calendarTable {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

#calendarTable tr:not(#headerRow) {
    height: 80px;
}

#calendarDiv {
    height: 100%;
    overflow-y: auto;
}

#calendarDiv::-webkit-scrollbar {
    width: 16px;
}

#calendarDiv::-webkit-scrollbar-track {
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

#calendarDiv::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
   background-clip: content-box;
    background-color: #9A2A2A;
}

#calendarTable th, #calendarTable #timezone {
    position: sticky;
    top: 0px;
    background: white;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    text-align: left;
}

#calendarTable #timezone {
    vertical-align: bottom;
    text-align: right;
    border-left: 0px solid;
    width: 5%;
}

#calendarTable td:nth-child(1) {
    vertical-align: top;
    text-align: right;
}

#calendarTable td:not(td:nth-child(1)) {
    border: 1px solid;
}