.calendar {
    padding: 10px;
    flex: 1 1 100%;
}
.calendar-navbar {
    display: flex;
    justify-content: left;
}

.day {
    flex: 1 1 auto;
    padding: 20px;
}

table, th, td {
    border: 1px solid;
}

table {
    border-collapse: collapse;
  }

table {
    width: 100%;
}

tr {
    margin: 10px;
}

#calendarTable {
    height: 100%;
}