* {
    margin: 0;
    padding: 0;
}

html, body {
  height: 100%;
}

body {
    display: flex;
}

.content {
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    
}

.sidebar {

    flex: 1 1 15%;
    border-right: 3px solid #999;
    overflow-y: auto;
    background-color: #f1f1f1;
}

.calendar {
    padding: 10px;
    flex: 1 1 100%;
}

.tag-group .tag {
    padding: 5px;
    
}

.tag-group {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 3px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}